
:root {
    --yellow: #ffc600;
    --black: #272727;
  }
  
  html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
  }


  body {
    font-size: 15px;
    background-image: url("img/topography.svg"),
    linear-gradient(110deg, #f93d66, #6d47d9);
    background-size: 340px, auto;
  min-height:100vh ;
  margin: 50px;
  }

.taco{
display: flex;
flex-direction: column;
gap:10px;
position: relative;
}

  .menu ul {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0;
    list-style: none;
    

  }
  .menu ul li{
  flex: 1;
  }
  .menu a {
    list-style-type: none;
    background: var(--yellow);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-size: 20px;

  }
  img {
    max-width: 100%;
  }

  .first {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;

    
  }
  .left {
    flex: 2;
    min-height: 400px;
    background-image:url(img/tacos.jpeg);
    background-size: cover;
    background-position: center center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;

    
  }
   
  .left *  {
    background-color: var(--yellow);
    padding: 5px;
  }
  .right{
    display: flex;
    flex-direction: column;
  flex: 1;
  gap:20px;
  flex-wrap: wrap;

  
  }
  
.right2,
  .right1{
    display: flex;
    flex: 1;
    background: var(--yellow);
    text-align: center;
    flex-direction: column;
  } 
.right h3{
      margin-bottom: 0;
  font-size: 60px;
  font-weight: 300;
    
  }
  .right p{
   margin: 0px;
 
  }

.second{
display: flex;
gap:20px;
flex-wrap: wrap;
}
.second2 {
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1 0 200px;}
.second2 .icon {
  font-size: 50px;
}
.second2 p {
  color: rgba(0,0,0,0.5);
}
.third {
  background: white;
  padding:50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}


.text {
  display: flex;
  justify-content: center;
  align-items: center;


}

.text:before {
  display: inline-block;
  content: ' ';
  height: 10px;
  width: 40%;
  background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
}
.text:after{
  display: inline-block;
  content: '';
  height: 10px;
  width: 40%;
  background: linear-gradient(to var(--direction, right), var(--yellow), transparent);
}


.images  {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  
}

.images img{
 
  flex:1;
  min-width: 200px;
  min-height: 240px;
  max-width: 220px;
  max-height: 240px;
}
.chkMenu{
  display: none;
}
label[for="chkMenu"]{
  display: none;
}
.taco .menu label i.fa-times {
  display: none;
}
.taco .menu input[type="checkbox"]:checked + label i.fa-times {
  display: inline;
  
}

.taco .menu input[type="checkbox"]:checked + label i.fa-bars {
  display: none;
}
.taco .menu label i.fa-bars {
  display: inline-block;

}





@media (min-width: 1000px) {
  .taco .menu ul.menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .taco .menu label {
    display: none;
  }
}

@media (max-width: 1000px) {
  .menu .menu-list {
    display: none;
    transform: rotateX(-90deg);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
  }



  .chkMenu:checked ~ .menu-list {
    display: flex;
    flex-wrap: wrap;
    transform: rotateX(0deg);
  }
  .chkMenu:not(:checked) ~ .menu-list {
    display: flex;
    flex-wrap: wrap;
    transform: rotateX(-90deg);
  }
  label[for="chkMenu"]{
    display: inline;
    cursor: pointer;
    background-color: var(--yellow);
    padding: 10px 20px;
  }
}



















  


  

  

  